<%- include('utility') %>
<%
    let user = res.locals.user;
    let username = user.username;
%>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= username %></title>
    <script src="/jquery.min.js" type="text/javascript"></script>
    <style type="text/css">
        body {
            padding: 0 5px;
        }
        body > div {
            line-height: 1.5;
        }
        .s-success {
            color: #16ce3e;
        }
        .s-fail {
            color: #ef0809;
        }
        .s-error {
            color: #999;
        }
        .s-pending {
            color: #333;
        }
        li {
            margin: 0;
            line-height: 1.5;
        }
        a {
            color: #0e90d2;
            text-decoration: none;
            transition: all linear .3s 0s;
        }
        a:hover {
            color: #095f8a;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div>
        <h3>选手: <%= username %></h3>
    </div>
    <hr>
    <div>
        <strong>比赛开始时间: <span id="t-start"></span></strong>
    </div>
    <div>
        <strong>比赛结束时间: <span id="t-end"></span></strong>
    </div>
    <div>
        <strong id="c-countdown">距离交题截止: <span id="t-countdown"></span></strong>
    </div>
    <div>
        <% if (options.user_file) { %>
            <a href="/user/download" target="_blank">下载试题文件</a>
        <% } %>
        <a href="/2048" target="_blank">休闲一下</a>
    </div>
    <div>
        <span>已提交的文件:</span>
        <% if (user.submitted.length) { %>
            <% user.submitted.forEach(function(item) { %>
                <a href="/user/code/<%- item.problem %>" target="_blank"><%= item.filename %>(<%= res.locals.formatSize(item.size) %>)</a>
            <% }) %>
        <% } else { %>
            <span>(无)</span>
        <% } %>
    </div>
    <div>
        <% if (res.locals.session.admin) { %>
            <a href="/admin">转到管理页面</a>
        <% } %>
        <a id="b-delete-account" href="javascript:;" style="color: red;">退出并删除账号</a>
    </div>
    <div id="box-announcement" style="display: none;">
        <h4>比赛公告:</h4>
        <ol></ol>
    </div>
    <div>
        <h4>注意事项:</h4>
        <ol>
            <li>各试题名称: <%= options.problems.join(', ') %></li>
            <li>支持的语言: <%= options.language.map(lang => `${lang.name}(*.${lang.suffix})`).join('; ') %></li>
            <li>请使用<strong>试题名称(英文小写)和相应语言的后缀名</strong>命名你的代码文件(如:<%= options.problems[0] %>.<%= options.language[0].suffix %>)。</li>
            <li>提交代码时，选择你要提交的代码文件(可以多选)，然后确定。</li>
            <li>可以多次提交代码，评测时以最后一次提交为准。</li>
            <% if (options.max_file_size > 0) { %>
            <li>代码长度限制: <%= res.locals.formatSize(options.max_file_size) %>。超出限制的将无法提交。</li>
            <% } %>
            <li>如果出现提交失败，请在几秒后重试；如果仍无法提交，请联系出题人。</li>
            <li>请务必在交题截止前完成提交操作，否则后果自负。</li>
            <li>如果出现选择文件后未响应的问题，请<strong>切换到默认输入法(即:中文-美式键盘)</strong>后重试。</li>
        </ol>
    </div>
    <div>
        <input id="b-file" type="file" multiple>
        <input id="b-submit" type="button" value="确定">
    </div>
    <div id="status"></div>
    <%- include('user_common') %>
    <script type="text/javascript">
        var problems = <%- JSON.stringify(options.problems) %>;
        var language = <%- JSON.stringify(options.language) %>;
        var finished = 0, total = 0, list = [];
        var timer;
        function getLang(suf) {
            for (var i = 0; i < language.length; ++i) {
                if (language[i].suffix === suf) return language[i].name;
            }
            return null;
        }
        function Item(name) {
            this.name = name;
            this.$dom = $('<div>');
            this.$info = $('<span>');
            this.$dom.append($('<span>').text(name + ': '));
            this.$dom.append(this.$info);
            this.type = '';
            this.text = '';
        }
        Item.prototype.setInfo = function(type, text) {
            if (this.type) {
                this.$info.removeClass('s-' + this.type);
            }
            this.type = type;
            this.text = text;
            this.$info.addClass('s-' + type).text(text);
        };
        function addItem(name) {
            var obj = new Item(name);
            $('#status').append(obj.$dom);
            return obj;
        }
        function addFinished() {
            if (++finished === total) {
                setTimeout(function() {
                    var arr = [];
                    for (var i = 0; i < list.length; ++i) {
                        arr.push(list[i].$dom.text());
                    }
                    alert(arr.join('\n'));
                    location.reload();
                }, 500);
            }
        }
        function submitFile(file) {
            var pos = file.name.lastIndexOf('.');
            var name = file.name.slice(0, pos);
            var suffix = file.name.slice(pos + 1);
            var item = addItem(file.name);
            list.push(item);
            if (-1 === problems.indexOf(name)) {
                item.setInfo("error", "错误 - 没有名为" + name + "的试题");
                addFinished();
                return;
            }
            var lang = getLang(suffix);
            if (!lang) {
                item.setInfo("error", "错误 - 未找到后缀" + suffix + "对应的语言");
                addFinished();
                return;
            }
            <% if (options.max_file_size > 0) { %>
                if (file.size > <%- options.max_file_size %>) {
                    item.setInfo("error", "错误 - 文件大小不能超过<%= res.locals.formatSize(options.max_file_size) %>");
                    addFinished();
                    return;
                }
            <% } %>
            var reader = new FileReader();
            reader.onerror = function() {
                item.setInfo("fail", "无法读取代码文件");
                addFinished();
            };
            reader.onload = function() {
                var code = reader.result;
                item.setInfo('pending', "提交中...");
                $.ajax({
                    url: '/api/user/submit',
                    method: 'POST',
                    data: {
                        problem: name,
                        language: lang,
                        code: code
                    },
                    dataType: 'json'
                }).done(function(data) {
                    if (!data.success) {
                        item.setInfo("fail", "提交失败 - " + data.message);
                    } else {
                        item.setInfo("success", "提交成功");
                    }
                    addFinished();
                }).fail(function() {
                    item.setInfo("fail", "提交失败 - 未知错误");
                    addFinished();
                });
            };
            item.setInfo('pending', "读取中...");
            reader.readAsText(file);
        }
        $('#b-submit').click(function () {
            var input = $('#b-file')[0];
            if (!input.files.length) return;
            $('#b-file').prop('disabled', true);
            this.disabled = true;
            total = input.files.length;
            for (var i = 0; i < input.files.length; ++i) {
                submitFile(input.files[i]);
            }
        });
        function updateTime() {
            var timeNow = new Date().getTime() + timeDelta;
            var timeRemaining = Math.floor((endTime - timeNow) / 1000);
            if (timeRemaining < 0) {
                $('#c-countdown').css('color', 'gray');
                $('#t-countdown').text('已截止');
                clearInterval(timer);
                $('#b-file').prop('disabled', true);
                $('#b-submit').val("交题已截止").prop('disabled', true);
                return;
            }
            var hours = Math.floor(timeRemaining / 3600);
            var minutes = Math.floor(timeRemaining / 60) % 60;
            var seconds = timeRemaining % 60;
            if (minutes < 10) minutes = '0' + minutes;
            if (seconds < 10) seconds = '0' + seconds;
            if (!hours && minutes < 5) {
                $('#c-countdown').css('color', 'red');
            }
            var arr = hours ? [hours, minutes, seconds] : [minutes, seconds];
            $('#t-countdown').text(arr.join(':'));
        }
        timer = setInterval(updateTime, 500);
        updateTime();
    </script>
    <script type="text/javascript" src="langton_ant.js"></script>
</body>
</html>